In [3]:
from tensorflow import keras
model = keras.models.load_model('myModel.model')

Metal device set to: Apple M1 Pro

2023-03-13 17:33:37.602674: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-03-13 17:33:37.602818: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [6]:
y_pred = model.predict([[-0.19262583  ,1.31810485 , 0.11559813  ,1.23178506 , 0.16033029 ,-0.99546441
 ,-0.0247434  , 0.74153235 ,-0.78456689 , 0.08252405 , 0.44684444  ,0.43587204]])
y_pred[y_pred <= 0.5] = 0
y_pred[y_pred > 0.5] = 1
print(y_pred)

2023-03-13 17:34:22.887957: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2023-03-13 17:34:22.937769: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

1/1 [==============================] - 1s 575ms/step
[[0.]]

In [7]:
#importing all the required libraries
import streamlit as st
import time
import plotly.graph_objects as go
import pandas as pd
import numpy as np
import random as rd

In [26]:
dummy1 = pd.DataFrame()
dummy2 = pd.DataFrame()

dummy1['Value'] = []
dummy2['Value'] = []

dummy1['Time'] = []
dummy2['Time'] = []

def make_chart(df1, df2):
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=df1['Time'], y=df2['Value'],   mode='lines+markers'))
    
    fig.update_layout(width=900, height=570, xaxis_title='time',
    yaxis_title='Value')

    fig.add_trace(go.Scatter(x=df2['time'], y=df2['Value'],   mode='lines+markers'))
    
    fig.update_layout(width=900, height=570, xaxis_title='time',
    yaxis_title='Value')
    st.write(fig)


counter = 0
for i in range(10):
    d1_add = pd.DataFrame({'Time' : [i for i in range(100)] , "Value" :  [rd.randint(1,10) for i in range(100)]})
    dummy1 = pd.concat([dummy1 , d1_add] , axis = 0)

    d2_add = pd.DataFrame({'Time' : [counter] , "Value" :  [rd.randint(1,10)]})
    dummy1 = pd.concat([dummy2 , d2_add] , axis = 0)

    print(dummy1)
    print(dummy2)
    
    counter = counter + 1

   Value  Time
0    5.0   0.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    6.0   1.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    1.0   2.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    8.0   3.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    3.0   4.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    3.0   5.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    1.0   6.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    1.0   7.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    5.0   8.0
Empty DataFrame
Columns: [Value, Time]
Index: []
   Value  Time
0    1.0   9.0
Empty DataFrame
Columns: [Value, Time]
Index: []

In [11]:
dummy1

Empty DataFrame
Columns: [Value, Time]
Index: []

In [19]:
add = pd.DataFrame({'Time' : [1] , "Value" :  [10]})

In [20]:
add = pd.DataFrame({'Time' : [1] , "Value" :  [10]})
dummy1 = pd.concat([dummy1 , add] , axis = 0)
dummy1

   Value  Time
0   10.0   1.0

In [27]:
d1_add = pd.DataFrame({'Time' : [i for i in range(100)] , "Value" :  [rd.randint(1,10) for i in range(100)]})

In [28]:
d1_add

    Time  Value
0      0     10
1      1      6
2      2      5
3      3      9
4      4      8
..   ...    ...
95    95     10
96    96      2
97    97      1
98    98      3
99    99      3

[100 rows x 2 columns]

In [29]:
d1_add[1:10]

   Time  Value
1     1      6
2     2      5
3     3      9
4     4      8
5     5      2
6     6      3
7     7      1
8     8      8
9     9      9

In [35]:
iterator = d1_add.index
d1_add[next(iterator)]

TypeError: 'RangeIndex' object is not an iterator

In [42]:
d1_add['Value'][3]

9